.toast {
  display: inline-flex;
  justify-content: center;
  align-items: center;
width: 18.7rem;       /* 187px */
  height: 1.9rem;     /* 19px */
  border-radius: 5px;
  font-family: 'Pretendard', sans-serif;
  font-size: 1.6rem;   /* 16px */
  font-weight: 500;
  line-height: normal;
  padding: 1.4rem 1.8rem; /* 14px 18px */
}

/* π¨ μ—λ¬/μ¤‘λ‹¨ */
.error {
  background: rgba(253, 224, 233, 0.5);
  color: var(--red-red_F50E0E, #F50E0E);
}

/* π‰ ν¬μΈνΈ νλ“ */
.point {
  background: rgba(189, 204, 236, 0.5);
  color: var(--brand-blue, #0013A7);
}
