.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.5rem 20rem;
  margin-bottom: 4rem;
  min-width: 35rem; /* 350px 이하 프리즈 */
}

.header .logo {
  width: clamp(12rem, 24vw, 20rem);
  min-width: 12rem; /* 360px 이하에서도 최소 크기 보장 */
  max-width: 100%;
  height: auto;
}

.headerButtons {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.headerButton {
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--brand-blue);
}

.userName {
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--brand-blue);
  margin-right: 1.6rem;
}

/* 태블릿 반응형 */
@media (max-width: 1024px) {
  .header {
    padding: 2.25rem 4.4rem;
  }
}

/* 모바일 반응형 */
@media (max-width: 743px) {
  .header {
    padding: 2.25rem 1.6rem;

    button {
      font-size: 1.4rem;
      padding: 2rem 1.5rem;
      width: auto;
      height: auto;
    }
  }
}
