.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.5rem 20rem;
  margin-bottom: 4rem;
}

.header img {
  width: 20rem;
  height: auto;
}

.headerButtons {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.headerButton {
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--brand-blue);
}

.userName {
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--brand-blue);
  margin-right: 1.6rem;
}

@media (max-width: 1024px) {
  .header {
    padding: 2.25rem 4.4rem;
  }
}

@media (max-width: 743px) {
  .header {
    padding: 2.25rem 1.6rem;

    button {
      font-size: 1.4rem;
      padding: 2rem 1.5rem;
      width: auto;
      height: auto;
    }
  }
}
