.searchContainer {
  width: 100%;
}

.leftSpace {
  display: inline-flex;
  width: var(--icon-size, 1.8rem);
  height: var(--icon-size, 1.8rem);
  align-items: center;
  justify-content: center;
  color: #666;
}