.customDropdown {
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  color: #818181;
  padding: 0.9rem 2rem;
  border-radius: 1rem;
  background-color: var(--background-secondary);
  cursor: pointer;
}

.customDropdown option {
  color: #414141;
  border-radius: 0.625rem;
}

.highlightedOption {
  background-color: #f0f0f0;
}
