.toast {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  padding: 1.4rem 2.8rem;
  border-radius: 0.5rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.6;
  width: max-content; /* 글자 길이만큼 가로폭 */
  white-space: nowrap; /* 줄바꿈 방지 */
}

.text {
  white-space: nowrap;
}

/* Variants */
.info {
  background: #edf2ff;
  color: #1e3a8a;
}
.success {
  background: #e8f5e8;
  color: #166534;
}
.error {
  background: var(--warning-light, #fee2e2);
  color: var(--warning-dark, #b91c1c);
}
.mismatch {
  background-color: var(--pink-pink_FDE0E9, #fde0e9);
  color: #9c0a0a;
  width: max-content;
  white-space: nowrap;
}

.delete {
  background: var(--btn-inactive, #818181);
  color: white;
}

.copy {
  background: var(--btn-inactive, #818181);
  color: white;
}
