.studyPageContainer {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  width: 100%;
  max-width: 120rem;
  margin: 0 auto;
}

.studyPageWrapper {
  font-size: 1.6rem;
  border-radius: 2rem;
  background-color: var(--background-secondary);
  padding: 4rem;
}

.studyListFilter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2.4rem;

  input {
    border: 1px solid var(--border-gray);
    border-radius: 0.8rem;
    padding: 0.8rem 1.6rem;
    font-size: 1.6rem;
    width: 33.5rem;
    max-width: 40rem;
  }
}

.studyList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.4rem;
  min-height: 51rem;
}

.studyPageTitle {
  font-size: 2.4rem;
  font-weight: 700;
  margin-bottom: 2.5rem;
}

.studyListEmpty {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 40rem;
  width: 100%;
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--text-gray);
}

.studyListMore {
  text-align: center;
}
